<!doctype html>
<html ng-app="testApp">
	<head>
		<meta charset="utf-8">
		<script src="angular.min.js"></script>
		<script src="test.js"></script>
		<link rel="stylesheet" href="styles.css">
		<title> $http service </title>
	</head>
	<body ng-controller="testController as menu">
		<h3>List of Menu Categories </h3>
		<ul>
			<li ng-repeat="category in menu.categories">
				<a href="" ng-click="menu.showCategory(category.short_name);">({{ category.short_name }})</a>
				{{ category.name }} 
			</li>
		</ul>
	</body>
</html>
